body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header-logo,
.hero-main-text,
.footer {
    color: #F9FAF8;
}

.header-link,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.info-header,
.card
.quote-text {
    color: #1F2937;
}

.hero,
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.header-logo {
    font-size: 24px;
}

.hero {
    padding: 50px;
    gap: 50px;
}

.hero-left {
    max-width: 600px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.bubble-tea {
    max-height: 200px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: extra-bold;
}

.cards {
    display: flex;
    gap: 30px;
    text-align: center;
}

.card-img {
    width: 200px;
    height: 180px;
    background-color: pink;
    border: 5px solid lightpink;
    border-radius: 25px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0;
}

.quote-source {
    font-weight: bold;
    align-self: flex-end;
    padding-right: 600px;
}

.cta-box {
    background-color: #3882F6;
    width: 50vw;
    margin: 50px;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-heading {
    color: white;
    margin-bottom: 0;
}

.cta-text {
    color: #E5E7EB;
    margin-top: 0;
}

.cta-button {
    padding: 5px 25px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: #3882F6;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}